<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Steam Workshop Stats</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content=""> <!-- //TODO #18 Add Description -->
        <meta name="keywords" content=""> <!-- Add Keywords -->
        <meta name="author" content="javiertc">
        <meta name="robot" content="index, follow">
        <meta name="googlebot" content="index, follow">
        <!-- Boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- Public -->
		<link rel='stylesheet' href='css/style.css'>
        <link rel="icon" type="image/x-icon" href="img/favicon.ico">
        <!-- Libraries -->
        <script src="https://kit.fontawesome.com/995bcebc44.js"></script>
        <script src="https://unpkg.com/scrollreveal@4"></script>
	    <script>
		    ScrollReveal({ duration: 375 })
	    </script>
    </head>
  	<body>
		<section id="header">
			<nav class="navbar navbar-dark bg-primary navbar-expand-md animation_first">
				<div class="container py-2">
					<a class="navbar-brand" href="../">
						<img src="https://steamcommunity-a.akamaihd.net/public/shared/images/header/globalheader_logo.png?t=962016" width="180">
					</a>
					<a class="navbar-brand" href="">
						<a href="" class="navbar-brand">Steam Workshop Stats</a>
					</a>
				</div>
			</nav>
        </section>
		<section id="header" class="bg-secondary py-5">
            <div class="container">
				<h1 class="display-3 text-center animation_first">Stats of <%= user %>:</h1>
				<h1 class="display-5 text-center animation_first">- Total Subscriptions: <%= subs %></h1>
				<h1 class="display-5 text-center animation_first">- Total Favorites: <%= favs %></h1>
				<h1 class="display-5 text-center animation_first">- Total Life Subscriptions: <%= lifeSubs %></h1>
				<h1 class="display-5 text-center animation_first">- Total Life Favorites: <%= lifeFavs %></h1>
				<h1 class="display-5 text-center animation_first">- Total Views: <%= viewers %></h1>
            </div>
		</section>
		<section id="addons" class="bg-secondary pb-5 animation_second">
			<div class="container">
				<div class="row">
					<% for (var results of array) { %>
						<article class="col-12 col-md-6 col-lg-3 pb-5">
							<div class="card bg-info">
								<img src="<%= results.image %>" class="card-img-top">
								<div class="card-body">
									<h5 class="card-title"><%= results.title %></h5>
									<ul class="card-text">
										<li class="h5">Subscriptions: <%= results.subs %></li>
										<li class="h5">Favorites: <%= results.favs %></li>
										<li class="h5">Life Subscriptions: <%= results.lifeSubs %></li>
										<li class="h5">Life Favorites: <%= results.lifeFavs %></li>
										<li class="h5">Visitors: <%= results.views %></li>
									</ul>
								</div>
							</div>
						</article>
					<% } %>
				</div>
			</div>
		</section>
		<section id="footer" class="py-4 bg-primary animation_down"> <!-- //FIXME #20 Redesign Footer with Steam Warning -->
            <div class="container text-center">
                <p class="h3">Copyright &copy; 2020 - All rights reserved</p>
				<p class="h3">Made by <a href="https://github.com/thejaviertc"><b><u>Javiertc</u></b></a></p>
            </div>
        </section>
        <!-- Libraries Configurations-->
        <script>
            ScrollReveal().reveal('.animation_first')
            ScrollReveal().reveal('.animation_second', { delay: 125 })
            ScrollReveal().reveal('.animation_down')
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>